{
    "API_URL": "https://wiki.hoodedhorse.com/Heroes_of_Might_and_Magic_Olden_Era/api.php",
    "DIR_PATH": "wiki",
    "USER_AGENT": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
    "CF_CLEARANCE": "ZME_SFaacYlM4yDqCc4qaxnRNz2LJ3xxiPymOkyWFc-1780491346-1.2.1.1-Pvn.ETNWGAIu",
    "USERNAME": "12345678@FooBot",
    "PASSWORD": "abcdefgh"
}
