.category {
    padding: 16px;
    border-bottom: solid 3px #c8b36c !important;
    text-align: center;
}

.category::after {
    content: none !important; /* remove the line added by the skin */
}

.group {
    border-bottom: solid 1px #cbced1;
}

.sub {
    margin-left: 96px;
}

.rank + .sub {
    margin-top: 0;
}

.sub + .rank {
    margin-top: 32px;
}

.box {
    display: flex;
    margin-top: 16px;
}

.box:first-child {
    margin-top: 0;
}

.icon-container {
    flex-shrink: 0;
}

.text-container {
    padding-left: 8px;
    flex-grow: 1;
}

.toctitle {
    padding: 4px 8px; /* fix mistakes in the skin */
}

.toc > ul {
    padding: 4px 8px; /* fix mistakes in the skin */
}