td {
    color: #cbced1;
}

td:nth-child(1), td:nth-child(4), td:nth-child(6) {
    white-space: nowrap;
}

td:nth-child(6) {
    text-align: right;
}

td:nth-child(1) img {
    width: 64px;
    height: 64px;
}

td:nth-child(4) img, td:nth-child(6) img {
    width: 24px;
    height: 24px;
}

tr:hover {
    background: #13161a;
}

.separator:first-child, .separator:last-child, .separator + .separator {
    display: none;
}

.separator-tiny {
    height: 4px;
    background: #c8b36c !important;
}

.separator-tiny td {
    padding: 0;
}

.separator-large {
    background-color: #101622 !important;
    text-align: center;
    font-size: 24px;
}

.separator-large img {
    width: 54px;
}

.island {
    font-weight: bold;
    white-space: nowrap;
}

.island > span {
    padding-left: 1px;
    padding-right: 1px;
}

.island > span:nth-child(1) {
    color: #c8b36c;
}

.island > span:nth-child(2) {
    color: #2ea821;
}

.island > span:nth-child(3) {
    color: #47adf2;
}