.wiki-hint {
    border-bottom: none !important; /* hide the underline applied by the Hint template */
}

th .wiki-hint {
    cursor: pointer;
}

td {
    color: #cbced1;
}

/* School */
td:nth-child(2) {
    text-align: center;
}

/* Tier */
td:nth-child(3) {
    text-align: center;
}

/* Mana cost */
td:nth-child(5) {
    text-align: right;
    white-space: nowrap;
}

/* Global Map */
td:nth-child(6) {
    text-align: center;
}

/* Special */
td:nth-child(7) {
    text-align: center;
}

/* ---- SEPARATORS ---- */

.separator:first-child, .separator:last-child, .separator + .separator {
    display: none;
}

.separator-tiny {
    height: 4px;
    background: #c8b36c !important;
}

.separator-tiny td {
    padding: 0;
}

.separator-large {
    background-color: #101622 !important;
    text-align: center;
    font-size: 24px;
}

/* ---- LEVELS ---- */
.level {
    margin-left: 2em;
    margin-bottom: 0;
    color: #cbced1;
}

.level b {
    color: #c8b36c;
}

.masterful {
    margin-bottom: 0;
}

.masterful b {
    color: peru;
}

/* ---- SCHOOLS ---- */
.day {
    background: linear-gradient(rgba(98, 65, 15, 0.2), rgba(98, 65, 15, 0.1));
}

.night {
    background: linear-gradient(rgba(70, 27, 91, 0.2), rgba(70, 27, 91, 0.1));
}

.primal {
    background: linear-gradient(rgba(103, 40, 27, 0.2), rgba(103, 40, 27, 0.1));
}

.space {
    background: linear-gradient(rgba(28, 68, 79, 0.2), rgba(28, 68, 79, 0.1));
}

.neutral {
    background: linear-gradient(rgba(56, 55, 101, 0.2), rgba(56, 55, 101, 0.1));
}
