/* ---- GENERAL ---- */
table {
    white-space: nowrap;
}

td {
    color: #cbced1;
}

tr:hover {
    background: #13161a;
}

/* ---- IMAGES ---- */
th img {
    width: 24px;
    height: 24px;
}

/* ---- STATS ---- */
td:nth-child(5) img, td:nth-child(6) img, td:nth-child(7) img, td:nth-child(8) img,
td:nth-child(9) img, td:nth-child(10) img, td:nth-child(11) img, td:nth-child(12) img {
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px;
    margin-left: 1px;
    opacity: 0.5;
}

td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8),
td:nth-child(9), td:nth-child(10), td:nth-child(11), td:nth-child(12) {
    text-align: right;
}


/* ---- SEPARATORS ---- */

.separator:first-child, .separator:last-child, .separator + .separator {
    display: none;
}

.separator-tiny {
    height: 3px;
    background: #c8b36c !important;
}

.separator-tiny td {
    padding: 0;
}

.separator-large {
    background-color: #101622 !important;
    text-align: center;
    font-size: 24px;
}

.separator-large img {
    width: 54px;
}

/* ---- MORALE AND LUCK ---- */
.elevated1 {
    color: #c8b36c;
}

.elevated2 {
    color: #2ea821;
}

.elevated3 {
    color: #47adf2;
}