/* ===================================================== */
/*     G E N E R A L
/* ===================================================== */
.wiki-hint {
    border-bottom: none !important; /* hide the underline applied by the Hint template */
}

th .wiki-hint {
    cursor: pointer;
}

td {
    color: #cbced1;
    text-align: center;
}

.spell td {
    padding-bottom: 32px;
}

/* ===================================================== */
/*     C O L U M N S
/* ===================================================== */
.spell td:nth-child(1) { /* Name */
    width: 150px;
}

.spell td:nth-child(1) > span:first-child { /* Icon golden ring */
    position: absolute;
    z-index: 1;
    margin-left: -8px;
    margin-top: -8px;
}

.spell td:nth-child(1) > a:last-child { /* Name link */
    display: block;
    margin-top: 8px;
}

td:nth-child(2) { /* School */
    width: 100px;
}

td:nth-child(2) img { /* School icon */
    border-radius: 50%;
    margin-bottom: 4px;
}

/* Tier */
td:nth-child(3) {

}

/* Description */
td:nth-child(4) {
    text-align: left;
    min-width: 320px;
}

/* Mana cost */
td:nth-child(5) {
    text-align: right;
    white-space: nowrap;
}

/* Global Map */
td:nth-child(6) {

}

/* Special */
td:nth-child(7) {

}

/* ===================================================== */
/*     S E P A R A T O R S
/* ===================================================== */
.separator:first-child, .separator:last-child, .separator + .separator {
    display: none;
}

.separator-tiny {
    height: 4px;
    background: #c8b36c !important;
}

.separator-tiny td {
    padding: 0;
}

.separator-large {
    background-color: #101622 !important;
    text-align: center;
    font-size: 24px;
}

/* ===================================================== */
/*     L E V E L S
/* ===================================================== */
.level {
    margin-left: 2em;
    margin-bottom: 0;
    color: #cbced1;
}

.level b {
    color: #c8b36c;
}

.masterful, .masterful b {
    margin-bottom: 0;
    color: peru;
}

/* ===================================================== */
/*     S C H O O L S
/* ===================================================== */
.day td:nth-child(2) img {
    width: 40px;
    height: 40px;
    padding: 3px 2px;
    background: rgb(98, 65, 15);
}

.night td:nth-child(2) img {
    background: rgb(70, 27, 91);
}

.primal td:nth-child(2) img {
    background: rgb(103, 40, 27);
}

.space td:nth-child(2) img {
    background: rgb(28, 68, 79);
}

.neutral td:nth-child(2) img {
    background: rgb(56, 55, 101);
}
