/* ===================================================== */
/*     G E N E R A L
/* ===================================================== */
.wiki-hint {
    border-bottom: none !important; /* hide the underline applied by the Hint template */
}

th .wiki-hint {
    cursor: pointer;
}

td {
    color: #cbced1;
    text-align: center;
}

/* ===================================================== */
/*     C O L U M N S
/* ===================================================== */
.spell td:nth-child(1) { /* Name */
    min-width: 154px;
    max-width: 154px;
}

.medallion {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
}

.ring {
    position: absolute;
    z-index: 1;
    margin-left: -3px;
    margin-top: -10px;
}

td:nth-child(2) { /* School */
    width: 100px;
}

/* Tier */
td:nth-child(3) {

}

/* Description */
td:nth-child(4) {
    text-align: left;
    min-width: 320px;
    padding-bottom: 32px;
}

/* Mana cost */
td:nth-child(5) {
    text-align: right;
    white-space: nowrap;
}

/* Global Map */
td:nth-child(6) {

}

/* Special */
td:nth-child(7) {

}

/* ===================================================== */
/*     S E P A R A T O R S
/* ===================================================== */
.separator:first-child, .separator:last-child, .separator + .separator {
    display: none;
}

.separator-tiny {
    height: 4px;
    background: #c8b36c !important;
}

.separator-tiny td {
    padding: 0;
}

.separator-large {
    background-color: #101622 !important;
    text-align: center;
    font-size: 24px;
}

/* ===================================================== */
/*     L E V E L S
/* ===================================================== */
.level {
    margin-left: 2em;
    margin-bottom: 0;
    color: #cbced1;
}

.level b {
    color: #c8b36c;
}

.masterful, .masterful b {
    margin-bottom: 0;
    color: peru;
}